[cylc]
    UTC mode = True # Ignore DST
    [[parameters]]
        match_var=tas,psl,rsds,sfcWind
        obs_var_name=t2m
        region="global"
        season=DJFM,MAM,JJA,SON 
        forecast_range="2-9"
        start_year="1960"
        end_year="2022"
        lag="4"
        no_subset_members="20"
        method=raw,lagged,nao_matched
        nboot=1

[scheduling]
    [[dependencies]]
        graph = """
        process_bootstrap<match_var><obs_var_name><region><season><forecast_range><start_year><end_year><lag><no_subset_members><method><nboot> 
        """

[runtime]
    [[root]]
        # This is applied before every task
        pre-script="""set -eu"""
        [[[job]]]
            batch system = slurm
        [[[directives]]]
            --partition = short-serial
    [[process_bootstrap<match_var><obs_var_name><region><season><forecast_range><start_year><end_year><lag><no_subset_members><method><nboot>]]
        script = """
        module load jaspy/3.10/r20230718
        cd ${CYLC_SUITE_RUN_DIR}/
        python process_bs_values.py ${CYLC_TASK_PARAM_match_var} ${CYLC_TASK_PARAM_obs_var_name} ${CYLC_TASK_PARAM_region} ${CYLC_TASK_PARAM_season} ${CYLC_TASK_PARAM_forecast_range} ${CYLC_TASK_PARAM_start_year} ${CYLC_TASK_PARAM_end_year} ${CYLC_TASK_PARAM_lag} ${CYLC_TASK_PARAM_no_subset_members} ${CYLC_TASK_PARAM_method} ${CYLC_TASK_PARAM_nboot}
        """
        [[[job]]]
            execution time limit = PT40M
