[cylc]
    UTC mode = True # Ignore DST
    [[parameters]]
        variables=tas,psl,sfcWind
        obs_variables=t2m
        region="global"
        seasons=DJFM,MAM,JJA,SON 
        forecast_range="2-9"
        start_year="1960"
        end_year="2022"
        lag="4"
        no_subset_members="20"
        method="raw"
        nboot="1000"

[scheduling]
    [[dependencies]]
        graph = """
        process_bootstrap<variables><obs_variables><region><seasons><forecast_range><start_year><end_year><lag><no_subset_members><method><nboot>
        """

[runtime]
    [[root]]
        # This is applied before every task
        pre-script="""set -eu"""
        [[[job]]]
            batch system = slurm
        [[[directives]]]
            --partition = high-mem
            --mem = 80000
    [[process_bootstrap<variables><obs_variables><region><seasons><forecast_range><start_year><end_year><lag><no_subset_members><method><nboot>]]
        script = """
        module load jaspy/3.10/r20230718
        cd ${CYLC_SUITE_RUN_DIR}/
        python process_bs_values.py ${CYLC_TASK_PARAM_variables} ${CYLC_TASK_PARAM_obs_variables} ${CYLC_TASK_PARAM_region} ${CYLC_TASK_PARAM_seasons} ${CYLC_TASK_PARAM_forecast_range} ${CYLC_TASK_PARAM_start_year} ${CYLC_TASK_PARAM_end_year} ${CYLC_TASK_PARAM_lag} ${CYLC_TASK_PARAM_no_subset_members} ${CYLC_TASK_PARAM_method} ${CYLC_TASK_PARAM_nboot}
        """
        [[[job]]]
            execution time limit = PT1800M
