[cylc]
    UTC mode = True # Ignore DST
    [[parameters]]
        match_var="tas"
        region="global"
        season=1,2,3,4
        forecast_range="2-9"
        start_year="1960"
        end_year="2022"
        lag="4"
        no_subset_members="20"
        method="lagged"
        measure="acc"

[scheduling]
    [[dependencies]]
        graph = """
        process_bootstrap<match_var><region><season><forecast_range><start_year><end_year><lag><no_subset_members><method><measure> 
        """

[runtime]
    [[root]]
        # This is applied before every task
        pre-script="""set -eu"""
        [[[job]]]
            batch system = slurm
        [[[directives]]]
            --partition = short-serial
    [[process_bootstrap<match_var><region><season><forecast_range><start_year><end_year><lag><no_subset_members><method><measure>]]
        script = """
        module load jaspy/3.10/r20230718
        cd ${CYLC_SUITE_RUN_DIR}/
        python process_bs_values.py <match_var> <region> <season> <forecast_range> <start_year> <end_year> <lag> <no_subset_members> <method> <measure>
        """
        [[[job]]]
            execution time limit = PT30M
